div.motivation-scale{
	display:flex;
}

.floatback {
	display:flex;
    padding-left: 1em;
}

.bladeInputWidth{
	width: 80%;
}

.bladeInputWidth100{
	width: 100%;
}

.underline{
	text-decoration: underline;
}

.tab-space {
	padding-left:2em;
}

.text-center{
	text-align:center;
}

.strUpper{
	text-transform:uppercase;
}

.strBold{
	font-weight: bold;
}

ul.cleanList{	
	list-style-type: none;
}

.u3m1selfCheckTable{
	table { border-collapse: collapse; }

	td{
		min-width:300px;
	}

td + td,
th + th { border-left: 1px solid chartreuse; }
tr + tr { border-top: 1px solid teal; }

td,
th { padding: 10px; }


// IE7
tr + tr > td,
tr + tr > th { border-top: 1px solid indigo; }
}

aside.main-sidebar{
	position:fixed;
	overflow-x:scroll;
}

input.btn.btn-info{
	background: #ccc;
    color: teal;
    border: none;
}

input.btn.btn-info:hover{
	background: teal;
    color: #fff;
    border: none;
}

.orangeText{
	color:#ff4c00!important;
	font-weight: 600;
}

.blueText{
	color:#00f!important;
	font-weight:600;
}

.main-sidebar{
	li a{
        color:#028482!important;
        // color:#ccc!important;
    }
}

@media only screen (min-width: 768px) {

	div.youtubeVid.mobileScreen{
		display:none!important;
	}

	div.youtubeVid.mediumScreen{
	width:640px;
	height:360px;
	 // position: absolute; positions out of the flow, but according to the nearest parent
    top: 0; right: 0; /* confuse it i guess */
    bottom: 0; left: 0;
    margin: auto; /* make em equal */
	}
	
}

@media only screen and (min-width:320px) and (max-width: 768px) {

	div.youtubeVid.mediumScreen{
		display:none;
	}

	div.youtubeVid.mobileScreen{
	width:320px;
	height:1800px;
	 // position: absolute; positions out of the flow, but according to the nearest parent
    top: 0; right: 0; /* confuse it i guess */
    bottom: 0; left: 0;
    margin: auto; /* make em equal */
	}
	
}