<!-- pagination section -->

<section>
<div class="tab-pane" id="#">
  <div class="#">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            
          </div>
          <div class="panel-body">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<!-- nav section -->

  <div class="panel-body" id="exTab1">
    <ul  class="nav nav-pills">

      <li><a href="#0a" data-toggle="tab" style="background-color:#fff;">1</a></li>

      <li class="active"><a  href="#1a" data-toggle="tab" style="background-color:#fff;">2</a></li>

      <li><a href="#2a" data-toggle="tab" style="background-color:#fff;">3</a></li>

      <li><a href="#stress" data-toggle="tab" style="background-color:#fff;">4</a></li>

      <li><a href="#3a" data-toggle="tab" style="background-color:#fff;">5</a></li>

      <li><a href="#4a" data-toggle="tab" style="background-color:#fff;">6</a></li>

      <li><a href="#5a" data-toggle="tab" style="background-color:#fff;">7</a></li>

      <li><a href="#6a" data-toggle="tab" style="background-color:#fff;">8</a></li>

    </ul>
    
  </div>  


  <!-- full section -->


  <div class="tab-pane" id="1a">
    <div class="#">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>Item 1</h3>
            </div>
              <div class="panel-body">


                <div class="panel-heading">
                  <p>
                    #
                    </p>
                  </div>
                  <div class="panel-body">
                  

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


<!-- simple section -->


<div class="panel panel-group"><!-- start panel group -->
  <div class="panel-heading">
    <h4>
      #
    </h4>
  </div>
  <div class="panel-body">
    #
  </div>
</div> <!-- end panel group -->

<!-- simple one line input -->

<div class="panel-body">
  <h5>A) Who goes there?</h5>
  {{ Form::input('email', 'email_address', null, ['class' => 'bladeInputWidth']) }}
  <button type="button" class="btn btn-info">Save</button>
</div>

<!-- text area snippet -->

<div class="panel-body">
  {{ Form::textarea('notes', null, ['class' => 'bladeInputWidth100'])  }}
  <button type="button" class="btn btn-info">Save</button>
</div>


<!-- 4 x 4 table -->

  <table>
                <thead>
                <tr>
                <th>[Header for Column 1]</th>
                <th>[Header for Column 2]</th>
                <th>[Header for Column 3]</th>
                <th>[Header for Column 4]</th>
                </tr>
                </thead>
                <tr>
                <td>[Row 1, Column 1]</td>
                <td>[Row 1, Column 2]</td>
                <td>[Row 1, Column 3]</td>
                <td>[Row 1, Column 4]</td>
                </tr>
                <tr>
                <td>[Row 2, Column 1]</td>
                <td>[Row 2, Column 2]</td>
                <td>[Row 2, Column 3]</td>
                <td>[Row 2, Column 4]</td>
                </tr>
                <tr>
                <td>[Row 3, Column 1]</td>
                <td>[Row 3, Column 2]</td>
                <td>[Row 3, Column 3]</td>
                <td>[Row 3, Column 4]</td>
                </tr>
                <tr>
                <td>[Row 4, Column 1]</td>
                <td>[Row 4, Column 2]</td>
                <td>[Row 4, Column 3]</td>
                <td>[Row 4, Column 4]</td>
                </tr>
                <tfoot>
                <tr>
                <th>[Header for Column 1]</th>
                <th>[Header for Column 2]</th>
                <th>[Header for Column 3]</th>
                <th>[Header for Column 4]</th>
                </tr>
                </tfoot>
              </table>





              // 120 Hour Course
// unit one module one
Route::get('/admin/onetwentyhours/unit-one/module-one/section-one', 'Admin\Model120hrUnitOneModuleOneSectionOneController@index')->name('admin.onetwentyhours.unit-one.module-one.section-one.index');
// Route::get('/admin/onetwentyhours/unit-one/module-one/section-one', 'Admin\Model120hrUnitOneModuleOneSectionOneController@create')->name('admin.onetwentyhours.unit-one.module-one.section-one.create');
// Route::post('/admin/onetwentyhours/unit-one/module-one/section-one', 'Admin\Model120hrUnitOneModuleOneSectionOneController@store')->name('admin.onetwentyhours.unit-one.module-one.section-one.store');
// Route::get('/admin/onetwentyhours/unit-one/module-one/section-one', 'Admin\Model120hrUnitOneModuleOneSectionOneController@show')->name('admin.onetwentyhours.unit-one.module-one.section-one.{id}');
// Route::resource('admin.onetwentyhours.unit-one.module-one.section-one', 'Admin\Model120hrUnitTwoModuleOneSectionOneController');





        // $u1m1s1q1 = $request->input('u1m1s1q1');
        // $u1m1s1q2 = $request->input('u1m1s1q2');
        // $u1m1s1q3 = $request->input('u1m1s1q3');
        // $u1m1s1q4 = $request->input('u1m1s1q4');
        // $u1m1s1q5 = $request->input('u1m1s1q5');
        // $u1m1s1q6 = $request->input('u1m1s1q6');
        // $u1m1s1q7 = $request->input('u1m1s1q7');
  

        // $data = array('u1m1s1q1'=>$u1m1s1q1, 'u1m1s1q2'=>$u1m1s1q2, 'u1m1s1q3'=>$u1m1s1q3, 'u1m1s1q4'=>$u1m1s1q4,'u1m1s1q5'=>$u1m1s1q5,'u1m1s1q6'=>$u1m1s1q6,'u1m1s1q7'=>$u1m1s1q7);

        // DB::table('int120u1m1s1s')->insert($data);


        // $this->validate($request, [
        //     'u1m1s1q1' => 'required'
        // ]);

        // $question = new Question;
        // $question->u1m1s1q1 = $request->input('u1m1s1q1');

        // $question->save();
        // 
        // $data = request()->except(['_token']);
        // 
        // $iddata['user_id'] = Auth::user()->id;

        // $metaData = $data + $iddata

        // DB::table('int120u1m1s1s')->insert($metaData);
        // 
        // return redirect()->route('admin.onetwentyhours.unit-one.module-one.section-one.index');


                {{-- <div class="panel panel-default">
          
        <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 form-group">
          {!! Form::label('question', 'Item 1', ['class' => 'control-label']) !!}
          
          <div class="panel-body">{{ Form::input('question', null, ['class' => 'bladeInputWidth', 'placeholder' => 'Enter response']) }}
            <button type="button" class="btn btn-info">Submit</button></div>

            <p class="help-block"></p>
            @if($errors->has('question'))
            <p class="help-block">
              {{ $errors->first('question') }}
            </p>
            @endif
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 form-group">
            {!! Form::label('question', 'Item 2', ['class' => 'control-label']) !!}
          
            <div class="panel-body">{{ Form::input('email', 'email_address', null, ['class' => 'bladeInputWidth']) }}
              <button type="button" class="btn btn-info">Submit</button></div>

              <p class="help-block"></p>
              @if($errors->has('question'))
              <p class="help-block">
                {{ $errors->first('question') }}
              </p>
              @endif
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 form-group">
              {!! Form::label('question', 'Item 3', ['class' => 'control-label']) !!}
          
              <div class="panel-body">{{ Form::input('email', 'email_address', null, ['class' => 'bladeInputWidth']) }}
                <button type="button" class="btn btn-info">Submit</button></div>

                <p class="help-block"></p>
                @if($errors->has('question'))
                <p class="help-block">
                  {{ $errors->first('question') }}
                </p>
                @endif
              </div>
            </div>
          </div>

          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12 form-group">
                {!! Form::label('question', 'Item 4', ['class' => 'control-label']) !!}
                
                <div class="panel-body">{{ Form::input('email', 'email_address', null, ['class' => 'bladeInputWidth']) }}
                  <button type="button" class="btn btn-info">Submit</button></div>

                  <p class="help-block"></p>
                  @if($errors->has('question'))
                  <p class="help-block">
                    {{ $errors->first('question') }}
                  </p>
                  @endif
                </div>
              </div>
            </div>

            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12 form-group">
                  {!! Form::label('question', 'Item 5', ['class' => 'control-label']) !!}
                
                  <div class="panel-body">{{ Form::input('email', 'email_address', null, ['class' => 'bladeInputWidth']) }}
                    <button type="button" class="btn btn-info">Submit</button></div>

                    <p class="help-block"></p>
                    @if($errors->has('question'))
                    <p class="help-block">
                      {{ $errors->first('question') }}
                    </p>
                    @endif
                  </div>
                </div>
                
              </div>
            
            </div> --}}


            {!! Form::open(['action' => 'Admin\Int120u1m1s1Controller@store', 'method' => 'POST']) !!}
        
            <input id="user_id" name="user_id" type="hidden" value="{{Auth::user()->id}}">

            {!! Form::submit('Save Answers', ['class' => 'btn btn-info form-control'])!!}

            {!! Form::close() !!} 



            <!-- failed routing snippets (for reference) -->

            Route::post('/admin/onetwentyhours/unit-one/module-one/section-one', 'Admin\Int120u1m1s1Controller@storet1');


Route::post('/admin/onetwentyhours/unit-one/module-one/section-one', 'Admin\Int120u1m1s1Controller@storet2');


Route::post('/admin/onetwentyhours/unit-one/module-one/section-one', 'Admin\Int120u1m1s1Controller@storet3');


Route::post('/admin/onetwentyhours/unit-one/module-one/section-one', 'Admin\Int120u1m1s1Controller@storet4');
// 
// 
// 
// 
// 

// task 1
// Route::get('/admin/onetwentyhours/unit-one/module-one/section-one', 'Admin\Int120u1m1s1t1Controller@index')->name('admin.onetwentyhours.unit-one.module-one.section-one.index');

// Route::post('/admin/onetwentyhours/unit-one/module-one/section-one', 'Admin\Int120u1m1s1t1Controller@store')->name('admin.onetwentyhours.unit-one.module-one.section-one.index');


// //task 2
// Route::get('/admin/onetwentyhours/unit-one/module-one/section-one', 'Admin\Int120u1m1s1t2Controller@index')->name('admin.onetwentyhours.unit-one.module-one.section-one.index');

// Route::post('/admin/onetwentyhours/unit-one/module-one/section-one', 'Admin\Int120u1m1s1t2Controller@store')->name('admin.onetwentyhours.unit-one.module-one.section-one.index'); 

// // task 3
// Route::get('/admin/onetwentyhours/unit-one/module-one/section-one', 'Admin\Int120u1m1s1t3Controller@index')->name('admin.onetwentyhours.unit-one.module-one.section-one.index');

// Route::post('/admin/onetwentyhours/unit-one/module-one/section-one', 'Admin\Int120u1m1s1t3Controller@store')->name('admin.onetwentyhours.unit-one.module-one.section-one.index'); 

// // task 4
// Route::get('/admin/onetwentyhours/unit-one/module-one/section-one', 'Admin\Int120u1m1s1t4Controller@index')->name('admin.onetwentyhours.unit-one.module-one.section-one.index');

// Route::post('/admin/onetwentyhours/unit-one/module-one/section-one', 'Admin\Int120u1m1s1t4Controller@store')->name('admin.onetwentyhours.unit-one.module-one.section-one.index'); 






<!--      from notificationscontroller index function -> trying to extrapolate specific table from DB 

        // $notificationsTitle = DB::table('notifications')->get('newnotificationtitle');
        
        // $studentinfo = DB::select('select * from users where role_name = role_name',array(1));

        // $studentinfo = DB::table('users')->where('users.role_name', '=', 'Trainee')->first();
        
        // $studentdata = DB::table('users')->get();
        
        // $resultsv1 = DB::select('select * from users where ? role_name "%?%"', array ($column, $value));

        // $resultsv3 = DB::table('users')->where( 'role_name', '%' . $value . '%')->get();

        // $result = User::where('role_name', 'users', "%$value%")->get();

        // $resultsv4 = DB::select("select * from users where ? role_name '%?%'", array($column, $value));


-->